<ion-view view-title="WooShop">
<ion-content>

<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

<div class="card">
	<div class="item item-divider">
		{{storeName()}}
	</div>
	<div class="item item-text-wrap">
		<div class="alert alert-danger" role="alert" ng-show="store_error">{{store_error}}</div>
		<i class="ion-social-usd"></i> <span class="total-money">{{storeResult()|currency:''}}</span>
	</div>
</div>



<!-- <div class="card">
	<div class="item item-divider">
		Single Product Report
	</div>
	<div class="item item-text-wrap">
		<div class="alert alert-danger" role="alert" ng-show="singleProduct_error">{{singleProduct_error}}</div>
		<ul class="list">
			<div ng-repeat="h in singleProduct().slice().reverse()">
				<li class="item">{{ h.label }} -> {{ h.value }}</li>
			</div>
		</ul>
	</div>
</div> -->

<div class="card last-update-time">
	<div class="item item-text-wrap text-center">
		Last update: {{now}}
	</div>
</div>

</ion-content>
</ion-view>
