/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@mixin center-element {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.last-update-time .item-text-wrap
{
	font-size: 13px;
	padding: 4px;
}

/** Styling for the username field **/
label.item.has-error {
	border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
	border-left: 2px solid red;
	border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
	border-left: 2px solid green;
	border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
	margin: 5px 0
}
.form-error {
	padding: 0px 0 2px 2px;
	color: rgba(255,0,0,0.5);
	font-style: italic;
}
